.myCanvas{
    background-color:white;
    margin: auto;
    position: absolute;
    top: 11px;
    left:295px;
}

#myPalette{
  background-color:white;
  margin: auto;
  position: absolute;
  top:160px;
  left:15px;
}

#myColor{
  background-color: white;
  position: absolute;
  top:108px;
  left:149px;
}

.btn {
    width: 42px;
    height: 42px;
    border: 1;			
}

.slidecontainer {
  position: absolute;
    top:120px;
    left:60px;
    width: 80px;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 2px;
    background: #d3d3d3;
    outline: none;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: orange;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: orange;
    cursor: pointer;
  }

.textbox{
  padding: 0px;
  position: absolute;
  top: 40px;
  left:40px;
  display:none;
}

.selectFont{
  position:absolute;
  top:110px;
  left:200px;
}

.selectFontSize{
  position:absolute;
  top:130px;
  left:200px;
}

.slash{
  width: 25px;
  height:25px;
  position:absolute;
  top:110px;
  left:90px;
}

